/* Header styling */
header
{
    background-image: url(../images/RacetrackHeader.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -150px;
    height: 250px;
    padding: 5px;
}
/* Nav styling */
nav ul
{
    width: auto;
    float: right;
    margin-top: 8px;
}
nav ul li
{
    list-style-type: none;
    display: inline;
    padding: 15px 30px;
}
nav ul li a
{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.2vw;
}
nav a:hover
{
    color: red;
    transition: 0.5s;
}
/* Footer Styling */
footer
{
    padding: 2px;
    margin: 0;
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: grey;
}
footer p
{
    text-align: center;
    color: white;
}
/* Body styling */
body
{
    font-family: Verdana;
    color: white;
    background-color: #0f0f0f
}
#homeImage
{
    margin-left: 35%;
    margin-right: 35%;
}
/* h1 styling */
h1, h2
{
    text-align: center;
    font-size: 2em;
}